[Players]
Hanni=49536
Samarth=48831
Galli=2340080
Chandak=1325508
Kutty=1888172
MH=52458
Holla=2151510

[Teams]
TeamSam=Samarth,Chandak,MH
TeamABS=Hanni,Galli,Kutty,Holla

[Rules]
MaxSumPlayerCount=2
MaxPositionForAward=3

GwMaxAverageBonus=5
GwMaxSumBonus=2
GwPositionsAwards=3,2,1

HwMark=19
HwMaxAverageBonus=50
HwMaxSumBonus=25
HwPositionsAwards=50,25,15

Eos=38
EosAverageBonus=100
EosSumBonus=50
EosPositionsAwards=100,50,30